__pycache__/
*.pyc
.env
node_modules/
.next/
*.npz
*.gz
data/hackathon_data_bundle/
data/hackathon_data_bundle
/hackathon_data_bundle/
.venv/
data/artifacts/
frontend/public/data/
.pytest_cache/
.DS_Store
